.textCenter {
    text-align: center;
    font-weight: bold;
    font-size: 6.5vw;
}

.infoLayout {
    background-color: white;
    display: table-cell;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
}

.formCenter {
    text-align: center;
}

.headerStyle {
    text-align: center;
    font-weight: bold;
    font-size: 4vw;
    padding-bottom: 10px;
}

.buttonPadding {
    margin: 20px;
}