.introText {
    text-align: center;
    //font-size: 4.2vw;
    font-size: 17.5px;
    width: 90%;
}

.overallLayout {
    min-height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.introText p{
    margin-bottom: 25px;
}