.introText {
    text-align: center;
    width: 90%;
    padding: 10px 0 20px 0;
    align-items: stretch;
    height: 100%;
    justify-content: center;
    display: table-cell;
}

.introLayout {
    background-color: white;
    display: table-cell;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 17.5px;
    width: 100%;
    height: 100%;
    padding: 10px 5% 10px 5%;
    overflow-y: scroll;
}

.introLayout p{
    margin-bottom: 25px;
}