.overallLayout {
    min-height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttonPosition {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.outroText {
    text-align: center;
    //font-size: 4.2vw;
    font-size: 17.5px;
    width: 90%;
}