

.screenPadding {
  padding: 1%;
  min-height: 100vh;
  background-color: #EEEEEE;
}

.divPadding {
  background-color: #b4bae4;
  width: 95%;
  margin: 0 auto;
  height: 90%;
  border-style: solid;
  border-color: #6270c8;
  border-width: 10px;
  box-shadow: cornflowerblue;
}